<!doctype html>
<html lang='en'>

<head>
    <title>WZLY Record Library</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href='/'>WZLY Record Library</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" id="signin" href="{{ url_for('login') }}">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="logout" href="{{ url_for('logout') }}">Sign Out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile" href="{{ url_for('profile') }}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="checkin" href="{{ url_for('checkin') }}">Check in materials</a>
                </li>
                <li class="nav-item dropdown" id="admin-features">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ url_for('insert') }}">Insert Album</a>
                        <a class="dropdown-item" href="{{ url_for('update') }}">Delete/Update Album</a>
                        <a class="dropdown-item" href="{{ url_for('reservation') }}">View Reservations</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>



    <div id='flashes'>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div id="messages">
            {% for msg in messages %}
            <p>{{msg}}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    </div>

    <form class="search" method="GET" action="/query">
        <p><label>Search: <input id="searchterm" type="text" required name="q" class="txt"></label>
            <label>Filter
                <select class="dropdown" required name="filter">
                    <option value="">Select</option>
                    <option value="album">Album</option>
                    <option value="artist">Artist</option>
                    <option value="year">Year</option>
                    <option value="genre">Genre</option>
                    <option value="track">Track</option>
                </select>
            </label>
            <button id="searchbutton" type="submit" name="submit" value="search">Search</button>
    </form>

    <!-- checks to see if the user is logged in -->
    <input type="hidden" id="logged_in" value="{{is_logged_in}}">

    {% block content %}

    <h1 class="uk-heading-divider">Welcome to the WZLY Record Library!</h1>

    <p>Check out these albums:</p>

    <ul class="grid">
        {% for r in results %}
        <li class="tile">
            <a href="{{ url_for('album', aid=r['aid']) }}">
                {% if r['art'] != None%}
                <img class="cover" src={{ r['art'] }}></img>
                {% else %}
                <img class="cover" src="{{ url_for('static', filename='../static/defaultrecord.png') }}"></img>
                {% endif %}
            </a>
            <p class="detail">{{ r['name'] }} by {{ r['artist'] }}</p>
            {% if r['year'] != None %}
            <p class="year">{{ r['year'] }}</p>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    {% endblock %}

    {% block footer %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>

    <script>

        var login = document.getElementById('logged_in')['value'];

        if (login == 'False') {
            $(".dropbtn").hide();
            $("#logout").hide();
            $("#profile").hide();
            $("#checkin").hide();
            $("#signin").show();
            $("#admin-features").hide();
        }
        else {
            $("#signin").hide();
            $("#logout").show();
            $("#profile").show();
            $("#checkin").show();
            $("#admin-features").hide();

            // checks whether the user is an admin
            // and hides/shows admin features
            admin = "{{ session['admin'] }}";
            if (admin == 'True') {
                $("#admin-features").show();
            }
        }
    </script>

    {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>