{% extends "base.html" %}

{% block content %}

<h1>Search for an album to update:</h1>

<form method=POST action='/update/'>
    <label for="menu-aid">{{ total }} albums missing data:</label>
    <select id="menu-aid" name="menu-aid">
        <option value="none">Choose One</option>
        {% for a in incompletes %}
            <option value="{{ a['aid'] }}">{{ a['name'] }} by {{ a['artist'] }}</option>    
        {% endfor %}
    </select>
    <input type="submit" class="submit-btn" name="submit-btn" value="Choose">
</form>

<div id="update-form">
    <p>Use "None" to set a field to null. <b>Format</b> must be set to 'cd' or 'record.'
    If 'Autocomplete with Spotify' is selected, information from Spotify
    will be automatically inserted where available. For <b>Album Art</b>, please insert
    a link to a valid .png or .jpg file. <b>Spotify Embed</b> must be in the following format: spotify:album:1MmVkhiwTH0BkNOU3nw5d3
    </p>

    <form method=POST action="/update/{{ a['aid'] }}">
        <table>
            <tr>
                <td><label for="album-name">Album</label></td>
                <td><input id="album-name" name='album-name' value="{{ a['name'] }}"></td>
            </tr>
            <tr>
                <td><label for="album-artist">Artist</label></td>
                <td><input id="album-artist" name='album-artist' value="{{ a['artist'] }}"></td>
            </tr>
            <tr>
                <td><label for="album-year">Year</label></td>
                <td><input id="album-year" name='album-year' value="{{ a['year'] }}"></td>
            </tr>
            <tr>
                <td><label for="album-format">Format</label></td>
                <td><input id="album-format" name='album-format' value="{{ a['fmt'] }}"></td>
            </tr>
            <tr>
                <td><label for="album-location">Location</label></td>
                <td><input id="album-location" name='album-location' value="{{ a['location'] }}"></td>
            </tr>
            <tr>
                <td><label for="album-art">Album Art</label></td>
                <td><input id="album-art" name='album-art' value="{{ a['art'] }}"></td>
            </tr>
            <tr>
                <td><label for="album-embed">Spotify Embed</label></td>
                <td><input id="album-embed" name='album-embed' value="{{ a['embed'] }}"></td>
            </tr>
        </table>
        <br>
        <input type="submit" name="submit" value="Update Album">
        <input type="submit" name="submit" value="Autocomplete with Spotify">
        <input type="submit" name="submit" value="Delete Album">
        <!-- when "spotify" is clicked, tries to get data from spotify -->
    </form>
</div>

{% endblock %}