{% extends "base.html" %}

{% block content %}

<h1>{{ artist }}</h1>

<ul class="grid">
    {% for a in albums %}
        <li class="tile">
            <a href="{{ url_for('album', aid=a['aid']) }}">
                {% if a['art'] != None%}
                    <img class="cover" src={{ a['art'] }}></img>
                {% else %}
                    <img class="cover" src="{{ url_for('defaultrecord.png') }}"></img>
                {% endif %}
            </a>
            <p class="detail">{{ a['name'] }} by {{ a['artist'] }}</p>
            {% if a['year'] != None %}
                <p class="year">{{ a['year'] }}</p>
            {% endif %}
        </li>
    {% endfor %}
</ul>

{% endblock %}